<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISS - Construction</title>

    <style>
        dropdown-menu li {
            background-color: #ff6a00;
            color: white;
        }

        ul .dropdown-menu:hover {
            background-color: #ff6a00;
            color: white;
        }

        a.navbar-brand a {
            color: white;
        }

        .navbar-brand
    </style>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

   
    @*https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css
        https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css*@
    <link rel="stylesheet" type="text/css" href=@Url.Content("https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css")>
    <link rel="stylesheet" type="text/css" href=@Url.Content("https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css")>
    @*<link rel="stylesheet" type="text/css" href=@Url.Content("https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css")>*@


   

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src=@Url.Content("https://code.jquery.com/jquery-3.5.1.js")></script>

    <script src=@Url.Content("https://code.jquery.com/jquery-3.5.1.js")></script>
    <script src=@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")></script>
    <script src=@Url.Content("https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js")></script>
    <script src=@Url.Content("https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js")></script>
    <script src=@Url.Content("https://cdn.datatables.net/buttons/2.0.0/js/buttons.print.min.js")></script>

    <script src=@Url.Content("https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js")></script>
    <script src=@Url.Content("https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js")></script>
    <script src=@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js")></script>
    <script src=@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js")></script>
    <script src=@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js")></script>
    <script src=@Url.Content("https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js")></script>
    <script src=@Url.Content("https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js")></script>
    @*<script src=@Url.Content("https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js")></script>*@
    
</head>
<body style="background-color:#ebcece">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Construction", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li> @Html.ActionLink("Dashboard", "Index", "Home")</li>
                    <li>
                        <div class="col-md-2">
                            <a href="#" class="navbar-brand" data-toggle="dropdown" style="font-size:15px; color:white !important" aria-expanded="true">Masters</a>
                            <ul class="dropdown-menu" style="font-family:Calibri;padding:5px;background-color:#ebcece;">

                                <li>
                                    @Html.ActionLink("Account Group Master", "Index", "AccountGroupMasters")
                                </li>
                                <li>
                                    @Html.ActionLink("Account Ledger Master", "Index", "AccountLedgerMasters")
                                </li>
                                <li>
                                    @Html.ActionLink("Designation  Master", "Index", "DesignationMasters")
                                </li>
                                <li>
                                    @Html.ActionLink("Category Master", "Index", "CategoryMasters")
                                </li>
                                <li>
                                    @Html.ActionLink("Product Master", "Index", "ProductMasters")
                                </li>
                                <li>
                                    @Html.ActionLink("Tools Master", "Index", "ToolsMasters")
                                </li>
                                <li>
                                    @Html.ActionLink("Employee Master", "Index", "EmployeeMasters")
                                </li>
                                <li>
                                    @Html.ActionLink("Supplier Master", "Index", "SupplierMasters")
                                </li>
                                <li>
                                    @Html.ActionLink("Company Details", "Index", "CompanyDetails")
                                </li>
                                <li>
                                    @Html.ActionLink("Godown Master", "Index", "Godowns")
                                </li>
                                <li>
                                    @Html.ActionLink("Users", "Index", "Users")
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>@Html.ActionLink("New Project", "Index", "SiteDetails")</li>
                    <li>
                        <div class="col-md-2">
                            <a href="#" class="navbar-brand" data-toggle="dropdown" style="font-size:15px;color:white !important" aria-expanded="true">
                                Transaction
                            </a>
                            <ul class="dropdown-menu" style="font-family:Calibri;padding:5px;background-color:#ebcece;">
                                <li>@Html.ActionLink("Purchase Request", "Index", "PurchaseRequests")</li>
                                <li>@Html.ActionLink("Purchase Order", "Index", "PurchaseOrders")</li>
                                <li>@Html.ActionLink("Purchase Entry", "Index", "PurchaseEntries")</li>
                                <li>@Html.ActionLink("Issues", "Index", "Issues")</li>
                                <li>@Html.ActionLink("Labour Rate Work", "Index", "RateWorks")</li>
                                <li>@Html.ActionLink("Extra Work", "Index", "ExtraWorks")</li>
                                <li>@Html.ActionLink("Tools Transfer", "Index", "ToolsTransfers")</li>
                                <li>@Html.ActionLink("Receipt Entry", "Index", "receiptEntries")</li>
                                <li>@Html.ActionLink("Payment Entry", "Index", "paymentEntries")</li>


                            </ul>
                        </div>
                    <li>
                        <a class="dropdown-item">
                            <i class="typcn typcn-eject text-primary"></i>
                            Reports
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="~/Auth/LogOut">
                            <i class="typcn typcn-eject text-primary"></i>
                            Logout
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Inspire Softline Solutions</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    function DateConvertion(input) {
        var date = "";
        if (input != null) {
            var dateString = input.substr(6);
            var currentTime = new Date(parseInt(dateString));
            var month = currentTime.getMonth() + 1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            date = day + "/" + month + "/" + year;
        }
        return date;
    }
</script>