@model issDomain.Models.PurchaseRequest

@{
    ViewBag.Title = "Create";
}

<style>
    .header {
        margin-top: 10px;
        border-top-style: solid;
        border-top-width: 5px;
        border-top-color: #FF5F04;
        font-family: Calibri;
        font-size: 22px;
    }
    .btn-default
    {
        background-color: #FF5F04;
        color: white;
    }
    input, select, textarea
    {
        max-width: 500px;
    }
    th, td 
    {
        border: 1px solid black;
        text-align: center;
        height: 50px;
    }
    .itemtable th
    {
        text-align: center;
    }
    select #Product, #TaxId 
    {
        max-width: 500px;
    }
    .example-open .modal-backdrop
    {
        background-color: transparent;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-heading header" style="margin-top: 10px;border-top-style: solid;border-top-width: 5px;border-top-color: #FF5F04;font-family: Calibri;font-size: 22px;">
            Purchase Request - Add Page
        </div>
        <div class="panel panel-body" style="overflow:auto">
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Request Date</label>
                    @Html.TextBoxFor(m => m.RequestDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", id = "requestDate" })
                </div>
                <div class="form-group col-md-6">
                    <label>Category</label>
                    @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control", @id = "categoryId" })
                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    <label>Supplier Name</label>
                    @Html.DropDownList("SupplierId", null, htmlAttributes: new { @class = "form-control", @id = "SupplierId" })
                    @Html.ValidationMessageFor(model => model.SupplierId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    <label>Supplier Address</label>
                    @Html.DropDownList("SupplierAddressId", null, htmlAttributes: new { @class = "form-control", @id = "SupplierAddressId" })
                    @Html.ValidationMessageFor(model => model.SupplierAddressId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    <label>Project Name</label>
                    @Html.DropDownList("ProjectId", null, htmlAttributes: new { @class = "form-control", @id = "ProjectId" })
                    @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    <label>Site Name</label>
                    @Html.DropDownList("SiteId", null, htmlAttributes: new { @class = "form-control", @id = "SiteId" })
                    @Html.ValidationMessageFor(model => model.SiteId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    <label>Site Address</label>
                    @Html.DropDownList("SiteAddressId", null, htmlAttributes: new { @class = "form-control", @id = "SiteAddressId" })
                    @Html.ValidationMessageFor(model => model.SiteAddressId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    <label>Mobile No</label>
                    @Html.EditorFor(model => model.mobileno, new { htmlAttributes = new { @class = "form-control", @id = "mobileno" } })
                    @Html.ValidationMessageFor(model => model.mobileno, "", new { @class = "text-danger" })
                </div>
            </div>
            <button type="button" style="float:right" class="btn btn-default" data-toggle="modal" data-target="#myModal">Add Item</button>
            <br /><br />
            <div class="itemtable">
                <table class="create" style="width:100%">
                    <thead>
                        <tr>
                            <th>Sl.No</th>
                            <th>Item Name</th>
                            <th>Rate Of Tax</th>
                            <th>Description</th>
                            <th>Rate</th>
                            <th>Quantity</th>
                            <th>Amount</th>
                            <th>Tax Amount</th>
                            <th>Total Amount</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="tblpurchaserequest"></tbody>
                </table>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content" style="background-color:#ebcece">
                        <div class="modal-body">
                            <div class="panel-group">
                                <div class="panel panel-heading header" style="margin-top: 10px;border-top-style: solid;border-top-width: 5px;border-top-color: #FF5F04;font-family: Calibri;font-size: 22px;">
                                    Add Item
                                </div>
                                <div class="panel panel-body" style="font-size:15px;font-family:Calibri">
                                    <div class="row">
                                        <form action="createitem">
                                            <div class="form-group col-md-6">
                                                <label>Product Name</label><br />
                                                <select id="Product" name="" style="width:352px; height:27px">
                                                    <option value="0">Please Select</option>
                                                    @foreach (var item in @ViewBag.ProductId)
                                                    {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label style="width:352px; height:27px">Rate of Tax</label><br />
                                                <input type="text" readonly="readonly" id="TaxId" name="description" size="50" />
                                            </div>
                                            <div class="form-group col-md-6" style="min-height:58px">
                                                <label style="width:352px; height:27px">Description</label><br />
                                                <input type="text" id="Description" name="description" size="50" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label style="width:352px; height:27px">Rate</label><br />
                                                <input type="text" id="Rate" name="Rate" size="50" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label style="width:352px; height:27px">Quantity</label><br />
                                                <input type="text" id="Quantity" name="Quantity" size="50" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label style="width:352px; height:27px">Amount</label><br />
                                                <input type="text" readonly="readonly" id="Amount" name="Amount" size="50" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label style="width:352px; height:27px">Tax Amount</label><br />
                                                <input type="text" id="TaxAmt" name="TaxAmt" size="50" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label style="width:352px; height:27px">Total Amount</label><br />
                                                <input type="text" id="TotalAmt" readonly="readonly" name="TotalAmt" size="50" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-save="modal" id="btnSave" data-dismiss="modal">Add</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel()">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Net Amount:</label>
                    <label id="netAmt"></label>
                </div>
                <div class="form-group col-md-4">
                    <label>Request By</label>

                </div>
                <div class="form-group col-md-4">
                    <label>Remarks</label>
                </div>
            </div>
            <div class="form-group" style="float:right">
                <input type="submit" value="Submit" class="btn btn-default" />
                @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    let sNo = 1;
    var lstItems = [];
    var ntAmt;
    $(document).ready(function ()
    {
        $("#categoryId").change(function ()
        {
            var supName = $(this).find('option:selected').val();
            SupplierId(supName);
        })
        $("#SupplierId").change(function ()
        {
            var supAddress = $(this).find('option:selected').val();
            SupplierAddressId(supAddress);
        })
        $("#ProjectId").change(function ()
        {
            var projectSite = $(this).find('option:selected').val();
            SiteId(projectSite);
        })
        $("#Product").change(function () {
            var taxAmount = $(this).find('option:selected').val();
            TaxId(taxAmount);
        })
        $('#btnSave').click(function () {
            if ($('#Product').val() == '' || $('#TaxId').val() == '' || $('#Rate').val() == '' || $('#Quantity').val() == '' || $('#Amount').val() == '' || $('#TaxAmt').val() == '' || $('#TotalAmt').val() == '')
            {
                alert('Please fill required Fields');

            } else {
            
                let newItem = {};
                newItem.Product = $('#Product ').val();
                newItem.ProductText = $('#Product option:selected').text();
                newItem.TaxT = $('#TaxId').val();
                newItem.Taxtext = $('#TaxId option:selected').text();
                newItem.Description = $('#Description').val();
                newItem.Rate = $('#Rate').val();
                newItem.Quantity = $('#Quantity').val();
                newItem.Amount = $('#Amount').val();
                newItem.TaxAmt = $('#TaxAmt').val();
                newItem.TotalAmt = $('#TotalAmt').val();
                newItem.sNo = sNo;
                lstItems.push(newItem);
                console.log(lstItems);
                bindItems();
            }
            $('#Product').val(0);
            $('Description').val('');
            $('#Rate').val('');
            $('#TotalAmt').val('');
        });
        function bindItems() {

            $("#tblpurchaserequest").empty();
            if (lstItems.length > 0) {
                let sNo = 1;
                let ntTotal = 0;
                for (var i = 0; i < lstItems.length; i++)
                {
                    var row = `<tr id=rm${sNo}>`
                        + `<td>${sNo}</td>`
                        + `<td>${lstItems[i].ProductText}</td>`
                        + `<td>${lstItems[i].TaxT}</td>`
                        + `<td>${lstItems[i].Description}</td>`
                        + `<td>${lstItems[i].Rate}</td>`
                        + `<td>${lstItems[i].Quantity}</td>`
                        + `<td>${lstItems[i].Amount}</td>`
                        + `<td>${lstItems[i].TaxAmt}</td>`
                        + `<td>${lstItems[i].TotalAmt}</td>`
                        + `<td>
                                <button type="button" class="btn btn-default id="editbtn" onclick="editBTN(${sNo})">Edit</button>
                                | <button type="button" class="btn btn-default" onclick="removeTR(${sNo})">Remove</button>
                        </td>`
                        + "</tr>";
                   let amount = 0;
                    lstItems[i].TotalAmt != null ? amount = parseFloat(lstItems[i].TotalAmt) : amount = 0;
                    ntTotal += amount;
                    $('#tblpurchaserequest').append(row);
                    sNo++;   
                }
                $('#netAmt').text(ntTotal.toFixed());
            }
            $("#Quantity, #TaxId, #Amount, #TaxAmt").val('');
        }
        ////Tax Calulation

        $("#Quantity, #TaxId, #TaxAmt").blur(function () {
            var productRate = parseFloat($("#Rate").val());
            var productamt = parseFloat($(this).val() * productRate);
            //Tax Amount
            var per = $("#TaxId").val();
            var productQuantit = parseFloat((per / 100) * productamt).toFixed(2);
            //Total Amount
            var tamt = parseFloat(productamt) + parseFloat(productQuantit);
            if ($("#Quantity").val()!='')
            {
                $("#TotalAmt").val(tamt.toFixed(2));
                $("#Amount").val(productamt.toFixed(2));
                $("#TaxAmt").val(productQuantit);
            }
        })
    });
    $('#myModal').on('show.bs.modal', function (e)
    {
        $('body').addClass("example-open");
    }).on('hide.bs.modal', function (e) {
        $('body').removeClass("example-open");
    })
    function removeTR(item) {
        $('#rm' + item).remove();
    } 
    function editBTN(item) {
        debugger      
        for (var i = 1; i < lstItems.length; i++)
        {
            debugger
            if (lstItems[i] == item) {

                console.log(item);  
            }
        }
    }
    function SupplierId(supName)
    {
              $.ajax({
            type: 'POST',
            url: '@Url.Content("~/PurchaseRequests/SupplierId")',
            dataType: 'json',
                  data: { supplier_Name: supName },
                  success: function (result)
                  {
                   var data = result;
                      $("#SupplierId").empty();

                for (var i = 0; i < data.length; i++) {
                    $("#SupplierId").append("<option value='" + data[i].ID + "'>" + data[i].Suppliername + "</option>");
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    };
    function SupplierAddressId(supAddress)
    {
              $.ajax({
            type: 'POST',
            url: '@Url.Content("~/PurchaseRequests/SupplierAddressId")',
            dataType: 'json',
                  data: { supplier_Address: supAddress },
                  success: function (result) {
                     var data = result;

                      $("#SupplierAddressId").empty();
                      for (var i = 0; i < data.length; i++)
                      {
                          $("#SupplierAddressId").append("<option value='" + data[i].ID + "'>" + data[i].address + "</option>");
                      }
                  },
                  error: function (err)
                  {
                console.log(err);
                  }
              });
    };
    function SiteId(projectSite)
    {
              $.ajax({
            type: 'POST',
            url: '@Url.Content("~/PurchaseRequests/SiteId")',
            dataType: 'json',
                  data: { site_Name: projectSite },
                  success: function (result) {
                      var data = result;
                      $("#SiteId").empty();
                      $("#SiteAddressId").empty();
                      for (var i = 0; i < data.length; i++) {
                    $("#SiteId").append("<option value='" + data[i].ID + "'>" + data[i].SiteName + "</option>");
                    $("#SiteAddressId").append("<option value='" + data[i].ID + "'>" + data[i].SiteAddress + "</option>");
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    };
     function TaxId(taxAmount)
    {
              $.ajax({
            type: 'POST',
            url: '@Url.Content("~/PurchaseRequests/TaxId")',
                  dataType: 'json',
                  data: { tax_Amount: taxAmount },
                  success: function (result) {
                     var data = result;
                      $("#TaxId").empty();
                      for (var i = 0; i < data.length; i++)
                      {
                    $("#TaxId").val(data[i].Tax)
                      }
                  },
                  error: function (err)
                  {
                console.log(err);
                  }
              });
     };
</script>
