@model issDomain.Models.PurchaseRequest

@{
    ViewBag.Title = "Details";
}

<style>
    #AccountGroupMaster {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    .btn-default {
        background-color: #FF5F04;
        color: white;
    }

    #AccountGroupMaster td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #AccountGroupMaster tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #AccountGroupMaster tr:hover {
        background-color: #ddd;
    }

    #AccountGroupMaster th {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    #btn-edit a:hover {
        text-decoration: none;
        color: black;
    }

    #btn-edit a {
        text-decoration: none;
        color: black;
    }

    .header {
        margin-top: 10px;
        border-top-style: solid;
        border-top-width: 5px;
        border-top-color: #FF5F04;
        font-family: Calibri;
        font-size: 22px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="panel-group">
    <div class="panel panel-heading header">
        Purchase Request -  Details Page
    </div>
    <div class="panel panel-body">

        <table id="AccountGroupMaster">
            <tr>
                <th>Request Date</th>
                <td>  @Html.DisplayFor(model => model.RequestDate) </td>
            </tr>

            <tr>
                <th>Category</th>
                <td> @Html.DisplayFor(model => model.Category.CategoryName) </td>
            </tr>
            <tr>
                <th>Supplier Name</th>
                <td> @Html.DisplayFor(model => model.Supplier.Suppliername) </td>
            </tr>
            <tr>
                <th>Supplier Address</th>
                <td> @Html.DisplayFor(model => model.Supplier.address) </td>
            </tr>
            <tr>
                <th>Project Name</th>
                <td> @Html.DisplayFor(model => model.SiteName.ProjectName) </td>
            </tr>
            <tr>
                <th>Site Name</th>
                <td> @Html.DisplayFor(model => model.SiteName.SiteName) </td>
            </tr>
            <tr>
                <th>Site Address</th>
                <td> @Html.DisplayFor(model => model.SiteName.SiteAddress) </td>
            </tr>
            <tr>
                <th>Mobile No</th>
                <td> @Html.DisplayFor(model => model.mobileno) </td>
            </tr>
            <tr>
                <th>Net Amount</th>
                <td> @Html.DisplayFor(model => model.NetAmount) </td>
            </tr>

        </table>
        <br />
        <div class="">
            <table id="tblpurchase" class="table-bordered" style="width:95%;text-align:center">
                <thead>
                    <tr>
                        <th>Sl.No</th>
                        <th>Item Name</th>
                        <th>Rate Of Tax</th>
                        <th>Description</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                        <th>Discount Amount</th>
                        <th>Tax Amount</th>
                        <th>Total Amount</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="tblPurchaseRequest"></tbody>
            </table>
        </div>
        
        <p style="float:right;">
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }, htmlAttributes: new { @class = "btn btn-default" })*@
            @*<button type="button" class = "btn btn-default" id="btn-edit"> @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) </button>*@
            @*@Html.ActionLink("Edit Item", "Index", null, htmlAttributes: new { @class = "btn btn-default" })*@
            @Html.ActionLink("Edit Item", "Index","PurchaseRequestTables", new {id = Model.RequestID}, htmlAttributes: new { @class = "btn btn-default" })
            @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
        </p>
    </div>
</div>

<script>
    var lstItems = [];
    $(document).ready(function ()
    {
            debugger
            let id =@Model.ID;
            get(id);

            function get(id) {
                $.ajax({
                    url: '@Url.Content("~/PurchaseRequests/getListOfPurchaes")',
                    type: 'POST',
                    dataType: 'json',
                    data: { invoice: id},
                    success: function (result) {
                        $('#tblPurchaseRequest').empty();
                        console.log(result)
                        var row = "";
                        if (result != null && result!="data")
                        {
                            debugger
                            let sNo = 1;
                            for (var i = 0; i < result.length; i++)
                            {
                                let list = {};
                                list.productId = result[i].Product.ProductName;
                                list.productText = result[i].Tax;
                                list.purchaseRequestId = result[i].purchaseRequestId;
                                list.Id = result[i].ID;
                                list.Description = result[i].Description;
                                list.Tax = result[i].Tax;
                                list.Rate = result[i].Rate;
                                list.Quantity = result[i].Quantity;
                                list.Amount = result[i].Amount;
                                list.discountPercent = result[i].discountPercent;
                                list.discountAmount = result[i].discountAmount;
                                list.TaxAmount = result[i].TaxAmount;
                                list.TotalAmount = result[i].TotalAmount;
                                list.ProductNo = result[i].ProductNo;

                                list.sNo = sNo;
                                lstItems.push(list);
                                row = `<tr>`
                                row +=    `<td>${sNo}</td>`
                                row += `<td>${result[i].Product.ProductName}</td>`
                                row +=    `<td>${result[i].Tax}</td>`
                                row += `<td>${result[i].Description}</td>`
                                row += `<td>${result[i].Rate}</td>`
                                row += `<td>${result[i].Quantity}</td>`
                                row +=     `<td>${result[i].Amount}</td>`
                                row += `<td>${result[i].discountAmount}</td>`
                                row += `<td>${result[i].TaxAmount}</td>`
                                row += `<td>${result[i].TotalAmount}</td>`
                                row += `<td>

                        <button type="button" class="btn btn-default" onclick="removeTR('${result[i].ID}')">Remove</button>
                        </td>`
                                row +=     `</tr>`;
                                sNo++;
                                $('#tblPurchaseRequest').append(row);
                            }

                        }

                    }
                });
        }


    });

    $("#categoryId").change(function () {
        var supNameId = $(this).find('option:selected').val();
        SupplierId(supNameId);
    })
    $("#SupplierId").change(function () {
        var supAddressId = $(this).find('option:selected').val();
        SupplierAddressId(supAddressId);
    })
    $("#ProjectId").change(function () {
        var projectSite = $(this).find('option:selected').val();
        SiteId(projectSite);
    })
    $("#Product").change(function () {
        var taxAmount = $(this).find('option:selected').val();
        TaxId(taxAmount);
    })


    $("#discountPercent").blur(function () {
        debugger
        var productRate = parseFloat($('#Rate').val());
        var Amt = parseFloat($('#Quantity').val() * productRate);
        $("#Amount").val(Amt.toFixed(2));

        //Discount Calculation
        var productDisPer = parseFloat($('#discountPercent').val());

        var disAmt = parseFloat((productDisPer / 100) * Amt);
        $('#discountAmount').val(disAmt.toFixed(2));

        var productAmount = parseFloat(Amt - disAmt);

        if ($('#discountPercent').val() != '') {
            //Tax Calcualtion
            var TaxPer = $("#TaxId").val();
            var taxTotal = parseFloat((TaxPer / 100) * productAmount);

            //Total Calculation
            var totalAmount = parseFloat(productAmount + taxTotal);
            $("#TaxAmt").val(taxTotal.toFixed(2));
            $("#TotalAmt").val(totalAmount.toFixed(2));
        }

    })



    $(document).keydown(function (event) {
        if (event.altKey && event.which === 65) {
            $('#myModal').modal('show');
        }
    });

    $('#myModal').on('show.bs.modal', function (e) {
        $('body').addClass("example-open");
    }).on('hide.bs.modal', function (e) {
        $('body').removeClass("example-open");
    })
    function removeTR(item)
    {
        debugger
        //let inNo = $('#ProductNo').val();
        let productId = $('#Product').val();
        $.ajax({
            url: '@Url.Content("~/PurchaseRequests/removePurchages")',
            type: 'POST',
            dataType: 'json',
            data: { Id: item, InNo: productId },
            success: function (result)
            {
                console.log(result);
                if (result != null)
                {
                      window.location.reload();

                }
            }
        });
    }

    function Edit(item) {
        var edit = lstItems.find(x => x.Id == item);
        $('#productId').val(edit.Id);
        $('#iD').val(item);
        
        $('#Description').val(edit.Description);
        $('#Rate').val(edit.Rate);
        $('#Quantity').val(edit.Quantity);
        $('#TaxId').val(edit.Tax);
        $('#Amount').val(edit.Amount);
        $('#TaxAmt').val(edit.TaxAmount);
        $('#TotalAmt').val(edit.TotalAmount);
        $('#discountAmount').val(edit.discountAmount);
        $('#discountPercent').val(edit.discountPercent);
        $('#RequestID').val(edit.purchaseRequestId);
        //$('#gstAmount').val('');
        $('#myModal').modal('show');
    }
     $('#btnSave').click(function ()
    {
        debugger
        let list = {};
         list.productId = $('#Product').val();
         list.productText = $('#Product option:selected').text();
         list.purchaseRequestId = $('#RequestID').val();
         list.Description = $('#Description').val();
         list.Tax = $('#TaxId').val();
         list.Rate = $('#Rate').val();
         list.Quantity = $('#Quantity').val();
         list.Amount = $('#Amount').val();
         list.discountPercent = $('#discountPercent').val();
         list.discountAmount = $('#discountAmount').val();
         list.TaxAmount = $('#TaxAmt').val();;
         list.TotalAmount = $('#TotalAmt').val();
         list.ProductNo = $('#ProductNo').val();
         list.ID = $('#iD').val();

        $.ajax({
                url: '@Url.Content("~/PurchaseRequests/saveEditPurchages")',
                type: 'POST',
                  dataType: 'json',
            data: { PurchaseRequestTable: list },
                success: function (result)
                {
                    debugger
                    console.log(result);
                    window.location.reload();
            },

            error: function (err) {
                console.log(err);
            }
        });
        //$('#myModal').modal('show');
    });
</script>

