@model IEnumerable<issDomain.Models.PurchaseRequest>

@{
    ViewBag.Title = "Index";
}

<style>
    .header {
        margin-top: 10px;
        border-top-style: solid;
        border-top-width: 5px;
        border-top-color: #FF5F04;
        font-family: Calibri;
        font-size: 22px;
    }

    .addNew {
        padding: 5px;
        background-color: #FF5F04;
        color: white;
        float: right;
        margin: 10px;
        border-radius: 10px;
        text-decoration: none;
        
    }

        .addNew:hover {
            text-decoration: none;
            
        }
    table td {
        font-size: 13px;
        
            }
    table th {
        font-size: 13px;
        
    }

</style>
<div class="panel-group">
    <div class="panel panel-heading header">
        Purchase Request - Index Page
    </div>
    <div class="panel panel-body">
        @Html.ActionLink("Add New", "Create", null, htmlAttributes: new { @class = "addNew" })
        <table class="table" id="AGMaster ">
            <thead>
                <tr>
                    <th>
                        <label>Request ID</label>
                    </th>
                    <th>
                        <label>Request Date</label>
                    </th>

                    <th>
                        <label>Supplier Name</label>
                    </th>
                    <th>
                        <label>Project Name</label>
                    </th>
                    <th>
                        <label>Total Amount</label>
                    </th>
                    <th>
                        <label>Discount Amount</label>
                    </th>
                    <th>
                        <label>Grand Total</label>
                    </th>
                    <th>
                        <label>Tax Amount</label>
                    </th>

                    <th>
                        <label>Net Amount</label>
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestID)
                    </td>

                    @if (@item.RequestDate != null)
                    {
                        <td>
                            @item.RequestDate.Value.ToShortDateString()
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Supplier.Suppliername)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SiteName.ProjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dicountAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.grandTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotTax)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NetAmount)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })|
                        <a href="@Url.Content("~/PurchaseRequestTables/Index/"+item.RequestID)">Edit Items</a>
                       
                    </td>
                </tr>

                }
            </tbody>

        </table>

    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#AGMaster').DataTable({
            dom: 'Bfrtip',

            buttons: [
                'copy',
                {
                    extend: 'excel',
                    title: function () {
                        var printTitle = 'New Title';
                        return printTitle
                    }
                   // messageTop: 'The information in this table is copyright to Sirius Cybernetics Corp.'
                },
                {
                    extend: 'pdf',
                  //  messageBottom: null
                },
                {
                    extend: 'print',
                }

            ]
        });

    });
</script>

