@model issDomain.Models.RateWork

@{
    ViewBag.Title = "Delete";
}

<style>
    #AccountGroupMaster {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #AccountGroupMaster td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #AccountGroupMaster tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #AccountGroupMaster tr:hover {
            background-color: #ddd;
        }

        #AccountGroupMaster th {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

    #btn-edit a:hover {
        text-decoration: none;
        color: black;
    }

    #btn-edit a {
        text-decoration: none;
        color: black;
    }

    .header {
        margin-top: 10px;
        border-top-style: solid;
        border-top-width: 5px;
        border-top-color: #FF5F04;
        font-family: Calibri;
        font-size: 22px;
    }

    .btn-default {
        background-color: #FF5F04;
        color: white;
        float: right;
    }
</style>


<div class="panel-group">

    <div class="panel panel-heading header">
        Rate Work -  Delete Page

    </div>
    <div class="panel panel-body">

        <p style="font-weight:bold">Are you sure you want to delete this?</p>


        <table id="AccountGroupMaster">
            <tr>
                <th>Request Date</th>
                <td>  @Html.DisplayFor(model => model.Date) </td>
            </tr>

            <tr>
                <th>Project Name</th>
                <td> @Html.DisplayFor(model => model.SiteDetails.ProjectName) </td>
            </tr>
            <tr>
                <th>Site No</th>
                <td> @Html.DisplayFor(model => model.SiteDetails.ID) </td>
            </tr>
            <tr>
                <th>Site Name</th>
                <td> @Html.DisplayFor(model => model.SiteDetails.SiteName) </td>
            </tr>
            <tr>
                <th>Site Address</th>
                <td> @Html.DisplayFor(model => model.SiteDetails.SiteAddress) </td>
            </tr>
            <tr>
                <th>Net Amount</th>
                <td> @Html.DisplayFor(model => model.netAmount) </td>
            </tr>
           
        </table>
        <hr style="text-decoration:none" />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" />
                @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
            </div>
        }
    </div>
</div>

