@model issDomain.Models.RateWork

@{
    ViewBag.Title = "Details";
}

<style>
    #AccountGroupMaster {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    .btn-default {
        background-color: #FF5F04;
        color: white;
    }

    #AccountGroupMaster td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #AccountGroupMaster tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #AccountGroupMaster tr:hover {
        background-color: #ddd;
    }

    #AccountGroupMaster th {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    #btn-edit a:hover {
        text-decoration: none;
        color: black;
    }

    #btn-edit a {
        text-decoration: none;
        color: black;
    }

    .header {
        margin-top: 10px;
        border-top-style: solid;
        border-top-width: 5px;
        border-top-color: #FF5F04;
        font-family: Calibri;
        font-size: 22px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="panel-group">
    <div class="panel panel-heading header">
        Labour Rate Work  -  Details Page
    </div>
    <div class="panel panel-body">

        <table id="AccountGroupMaster">
            <tr>
                <th>Date</th>
                <td>  @Html.DisplayFor(model => model.Date) </td>
            </tr>

            <tr>
                <th>Project Name</th>
                <td> @Html.DisplayFor(model => model.SiteName.ProjectName) </td>
            </tr>
            <tr>
                <th>Site No</th>
                <td> @Html.DisplayFor(model => model.SiteName.ID) </td>
            </tr>
            <tr>
                <th>Site Name</th>
                <td> @Html.DisplayFor(model => model.SiteName.SiteName) </td>
            </tr>
            <tr>
                <th>Site Address</th>
                <td> @Html.DisplayFor(model => model.SiteName.SiteAddress) </td>
            </tr>

            <tr>
                <th>Head Name</th>
                <td> @Html.DisplayFor(model => model.headName) </td>
            </tr>
            <tr>
                <th>Total Amount</th>
                <td> @Html.DisplayFor(model => model.totalAmount) </td>
            </tr>
            <tr>
                <th>Deduction</th>
                <td> @Html.DisplayFor(model => model.deduction) </td>
            </tr>
            <tr>
                <th>Net Amount</th>
                <td> @Html.DisplayFor(model => model.netAmount) </td>
            </tr>
        </table>
        <br />
        <div class="">
            <table id="tblRateWork" class="table-bordered" style="width:95%;text-align:center">
                <thead>
                    <tr>
                        <th>Sl.No</th>
                        <th>Description</th>
                        <th>Length</th>
                        <th>Breath</th>
                        <th>Depth</th>
                        <th>Nos</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Amount</th>
                       
                    </tr>
                </thead>
                <tbody id="tblRateWorkRequest"></tbody>
            </table>
        </div>

        <p style="float:right;">

            @Html.ActionLink("Edit Item", "Index", "RateWorkTables", new { id = Model.RateWorkId }, htmlAttributes: new { @class = "btn btn-default" })
            @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-default" })

        </p>
    </div>
</div>

<script>


    var lstItems = [];
    $(document).ready(function ()
    {
            debugger
            let id =@Model.Id;
            get(id);

            function get(id) {
                $.ajax({
                    url: '@Url.Content("~/RateWorks/getListOfRateWork")',
                    type: 'POST',
                    dataType: 'json',
                    data: { invoice: id},
                    success: function (result) {
                        $('#tblRateWorkRequest').empty();
                        console.log(result)
                        var row = "";
                        if (result != null && result!="data")
                        {
                            debugger
                            let sNo = 1;
                            for (var i = 0; i < result.length; i++)
                            {
                                let list = {};
                                list.Description = result[i].Description;
                                list.length = result[i].length;
                                list.Breath = result[i].Breath;
                                list.Id = result[i].ID;
                                list.Deapth = result[i].Deapth;
                                list.Nos = result[i].Nos;
                                list.quantity = result[i].quantity;
                                list.unitPrice = result[i].unitPrice;
                                list.amount = result[i].amount;
                                //list.UmoId = result[i].Umo.Uom;
                                
                                list.sNo = sNo;
                                lstItems.push(list);
                                row = `<tr>`
                                row +=`<td>${sNo}</td>`
                                row += `<td>${result[i].Description}</td>`
                                row +=`<td>${result[i].length}</td>`
                                row += `<td>${result[i].Breath}</td>`
                                row += `<td>${result[i].Deapth}</td>`
                                row += `<td>${result[i].Nos}</td>`
                                row += `<td>${result[i].quantity}</td>`
                                row += `<td>${result[i].unitPrice}</td>`
                                row += `<td>${result[i].amount}</td>`
                               // row += `<td>${result[i].Umo.Umo}u</td>`

                        //        row += `<td>

                        //<button type="button" class="btn btn-default" onclick="removeTR('${result[i].ID}')">Remove</button>
                        //</td>`
                                row +=     `</tr>`;
                                sNo++;
                                $('#tblRateWorkRequest').append(row);
                            }

                        }

                    }
                });
        }

    });

        $("#projectId").change(function () {
            var projectSite = $(this).find('option:selected').val();
            SiteId(projectSite);
        })

      function removeTR(item)
    {
        debugger
        //let inNo = $('#ProductNo').val();
          let rateId = $('#projectId').val();
        $.ajax({
            url: '@Url.Content("~/RateWorks/removeRateWorks")',
            type: 'POST',
            dataType: 'json',
            data: { Id: item, InNo: rateId },
            success: function (result)
            {
                console.log(result);
                if (result != null)
                {
                      window.location.reload();

                }
            }
        });
    }

   
</script>


@*<script>
        var lstItems = [];
        $(document).ready(function ()
        {
                debugger
                let id =@Model.Id;
                get(id);

                function get(id) {
                    $.ajax({
                        url: '@Url.Content("~/RateWorks/getListOfRateWork")',
                        type: 'POST',
                        dataType: 'json',
                        data: {invoice: id },
                        success: function (result) {
                            debugger
                            console.log(result)
                            var row = "";
                            if (result != null && result != "data")
                            {
                                let sNo = 1;
                                for (var i = 0; i < result.length; i++)
                                {
                                    row = `<tr>`
                                    row += `<td>${sNo}</td>`
                                    row += `<td>${result[i].Description}</td>`
                                    row += `<td>${result[i].length}</td>`
                                    row += `<td>${result[i].Breath}</td>`
                                    row += `<td>${result[i].Deapth}</td>`
                                    row += `<td>${result[i].Nos}</td>`
                                    row += `<td>${result[i].quantity}</td>`
                                    row += `<td>${result[i].unitPrice}</td>`
                                    row += `<td>${result[i].amount}</td>`
                                    row += `<td>${result[i].umoId}</td>`
                                    row +=     `</tr>`;
                                    sNo++;
                                    $('#tblRateWorkRequest').append(row);
                                }

                            }

                        }
                    });
                }
        });
    </script>*@


