@model IEnumerable<issDomain.Models.PurchaseOrderTable>

@{
    ViewBag.Title = "Index";
}
<style>
    #AccountGroupMaster {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    .btn-default {
        background-color: #FF5F04;
        color: white;
    }

    #AccountGroupMaster td, #customers th {
        border: 1px solid #ddd;
        padding: 10px;
    }

    #AccountGroupMaster tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #AccountGroupMaster tr:hover {
        background-color: #ddd;
    }

    #AccountGroupMaster th {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    #btn-edit a:hover {
        text-decoration: none;
        color: black;
    }

    #btn-edit a {
        text-decoration: none;
        color: black;
    }

    .header {
        margin-top: 10px;
        border-top-style: solid;
        border-top-width: 5px;
        border-top-color: #FF5F04;
        font-family: Calibri;
        font-size: 22px;
    }

    .addNew {
        padding: 5px;
        background-color: #FF5F04;
        color: white;
        float: right;
        margin: 10px;
        border-radius: 3px;
        text-decoration: none;
    }

        .addNew:hover {
            text-decoration: none;
        }

    table td {
        font-size: 13px;
    }

    table th {
        font-size: 13px;
    }
</style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="panel-group">
    <div class="panel panel-heading header">
        <h3>Project Name: @ViewBag.ProjectName</h3>
        <h3>Supplier Name: @ViewBag.Suppliername</h3>
    </div>
    <div class="panel panel-body" style="overflow:auto">
        <p style="float:right;">
            @Html.ActionLink("Add New", "Create", new { Id = ViewBag.pId }, htmlAttributes: new { @class = "btn btn-default" })
            @Html.ActionLink("Back", "Index", "PurchaseOrders", new { id = ViewBag.pId }, htmlAttributes: new { @class = "btn btn-default" })

        </p>

        <table class="table">
            <tr>
                <th>
                    Req.ID
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    Dis(%)
                </th>
                <th>
                    Dis.Amt
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tax)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TaxAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalAmount)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.purchaseRequestId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.discountPercent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.discountAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tax)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.TaxAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalAmount)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })

                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#AGMaster').DataTable({
            dom: 'Bfrtip',

            buttons: [
                'copy',
                {
                    extend: 'excel',
                    title: function () {
                        var printTitle = 'New Title';
                        return printTitle
                    }
                    // messageTop: 'The information in this table is copyright to Sirius Cybernetics Corp.'
                },
                {
                    extend: 'pdf',
                    //  messageBottom: null
                },
                {
                    extend: 'print',
                }

            ]
        });

    });
</script>

<script>
    $(function () {
        $('#purchaseRequestId').val(@ViewBag.Pid);
    })
</script>
