@model IEnumerable<issDomain.Models.PurchaseEntry>

@{
    ViewBag.Title = "Index";
}

<style>
    .header {
        margin-top: 10px;
        border-top-style: solid;
        border-top-width: 5px;
        border-top-color: #FF5F04;
        font-family: Calibri;
        font-size: 22px;
    }

    .addNew {
        padding: 5px;
        background-color: #FF5F04;
        color: white;
        float: right;
        margin: 10px;
        border-radius: 3px;
        text-decoration: none;
    }

        .addNew:hover {
            text-decoration: none;
        }
</style>
<div class="panel-group">
    <div class="panel panel-heading header">
        Purchase Entry - Index Page
    </div>
    <div class="panel panel-body">
        @Html.ActionLink("Add New", "Create", null, htmlAttributes: new { @class = "addNew" })
        <table class="table" id="AGMaster">
            <thead>
                <tr>
                    <th>
                        <label>Purchase Date</label>
                    </th>
                    <th>
                        <label>Category</label>
                    </th>
                    <th>
                        <label>Supplier Name</label>
                    </th>
                    <th>
                        <label>Supplier Address</label>
                    </th>
                    <th>
                        <label>Project Name</label>
                    </th>
                    <th>
                        <label>Site Name</label>
                    </th>
                    <th>
                        <label>Site Address</label>
                    </th>
                    <th>
                        <label>Mobile No</label>
                    </th>
                    <th>
                        <label>Created Date</label>
                    </th>
                    <th>
                        <label>Updated By</label>
                    </th>
                    <th>
                        <label>Updated Date</label>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.purchaseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Supplier.Suppliername)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Supplier.address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SiteDetails.ProjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SiteDetails.SiteName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SiteDetails.SiteAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mobileno)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdateBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedDate)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>

                }
            </tbody>

        </table>

    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#AGMaster').DataTable({
            dom: 'Bfrtip',

            buttons: [
                'copy',
                {
                    extend: 'excel',
                    title: function () {
                        var printTitle = 'New Title';
                        return printTitle
                    }
                   // messageTop: 'The information in this table is copyright to Sirius Cybernetics Corp.'
                },
                {
                    extend: 'pdf',
                  //  messageBottom: null
                },
                {
                    extend: 'print',
                }

            ]
        });

    });
</script>

@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier.Suppliername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.purchaseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.purchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierAddressId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteAddressId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mobileno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.Suppliername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.purchaseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.purchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierAddressId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteAddressId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobileno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }

    </table>*@
