@model IEnumerable<issDomain.Models.ToolsTransfer>

<style>
    .header {
        margin-top: 10px;
        border-top-style: solid;
        border-top-width: 5px;
        border-top-color: #FF5F04;
        font-family: Calibri;
        font-size: 22px;
    }

    .addNew {
        padding: 5px;
        background-color: #FF5F04;
        color: white;
        float: right;
        margin: 10px;
        border-radius: 10px;
        text-decoration: none;
    }

        .addNew:hover {
            text-decoration: none;
        }

    table td {
        font-size: 13px;
    }

    table th {
        font-size: 13px;
    }
</style>
<style>
    .header {
        margin-top: 10px;
        border-top-style: solid;
        border-top-width: 5px;
        border-top-color: #FF5F04;
        font-family: Calibri;
        font-size: 22px;
    }

    .addNew {
        padding: 5px;
        background-color: #FF5F04;
        color: white;
        float: right;
        margin: 10px;
        border-radius: 10px;
        text-decoration: none;
    }

        .addNew:hover {
            text-decoration: none;
        }

    table td {
        font-size: 13px;
    }

    table th {
        font-size: 13px;
    }
</style>
<div class="panel-group">
    <div class="panel panel-heading header">
        Tools Transfer - Index Page
    </div>
    <div class="panel panel-body" style="overflow:auto">
        @Html.ActionLink("Add New", "Create", null, htmlAttributes: new { @class = "addNew" })
        <table class="table" id="AGMaster">
            <thead>
                <tr>
                    <th>
                        Transfer Date
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        From Location
                    </th>
                    <th>
                        To Location
                    </th>
                    <th>
                        Tools Name
                    </th>
                    <th>
                        Qty
                    </th>
                    <th>
                        Authority Person
                    </th>

                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GodownId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SNameId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tools.ToolsName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.qty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AuthPerson)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>

                }
            </tbody>

        </table>

    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#AGMaster').DataTable({
            dom: 'Bfrtip',

            buttons: [
                'copy',
                {
                    extend: 'excel',
                    title: function () {
                        var printTitle = 'New Title';
                        return printTitle
                    }
                    // messageTop: 'The information in this table is copyright to Sirius Cybernetics Corp.'
                },
                {
                    extend: 'pdf',
                    //  messageBottom: null
                },
                {
                    extend: 'print',
                }

            ]
        });

    });
</script>
