@model IEnumerable<issDomain.Models.DesignationMaster>

@{
    ViewBag.Title = "Index";
}


<style>
    .header {
        margin-top: 10px;
        border-top-style: solid;
        border-top-width: 5px;
        border-top-color: #FF5F04;
        font-family: Calibri;
        font-size: 22px;
    }

    .addNew {
        padding: 5px;
        background-color: #FF5F04;
        color: white;
        float: right;
        margin: 10px;
        border-radius: 3px;
        text-decoration: none;
    }

        .addNew:hover {
            text-decoration: none;
        }
</style>
<div class="panel-group">
    <div class="panel panel-heading header">
        Designation - Index Page
    </div>
    <div class="panel panel-body" style="overflow:auto">
        <div class="card-header header-elements-inline">
            @Html.ActionLink("Add New", "Create", null, htmlAttributes: new { @class = "addNew" })
            <table class="table datatable-basic table-bordered table-striped table-hover" id="AGMaster">
                <thead>
                    <tr>
                        <th>
                            S.No
                        </th>
                        <th>
                            <label>Designation</label>
                        </th>
                        <th>
                            <label>Remarks</label>
                        </th>

                        <th>
                            <label>Actions</label>
                        </th>
                       
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Select((x, i) => new { Data = x, Index = i + 1 }))
                    {
                        <tr>
                            <td>
                                @item.Index  
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Data.DesignationName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Data.Remarks)
                            </td>

                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Data.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Data.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Data.ID })
                            </td>
                        </tr>

                    }
                </tbody>

            </table>

        </div>
    </div>
    </div>
<script type="text/javascript">
    $(function () {
        $('#AGMaster').DataTable({
            dom: 'Bfrtip',

            buttons: [
                'copy',
                {
                    extend: 'excel',
                    title: function () {
                        var printTitle = 'Designation Master';
                        return printTitle
                    }
                   // messageTop: 'The information in this table is copyright to Sirius Cybernetics Corp.'
                },
                {
                    extend: 'pdf',
                    title: function () {
                        var printTitle = 'Designation Master';
                        return printTitle
                    }
                  //  messageBottom: null
                },
                {
                    extend: 'print',
                    title: function () {
                        var printTitle = 'Designation Master';
                        return printTitle
                    }
                }

            ]
        });

    });
</script>
