@model issDomain.Models.SupplierMaster

@{
    ViewBag.Title = "Create";
}


<style>
    .header {
        margin-top: 10px;
        border-top-style: solid;
        border-top-width: 5px;
        border-top-color: #FF5F04;
        font-family: Calibri;
        font-size: 22px;
    }

    .btn-default {
        background-color: #FF5F04;
        color: white;
    }
    input, select, textarea {
        max-width: 500px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="panel-group">
        <div class="panel panel-heading header">
            Supplier - Add Page
        </div>
        <div class="panel panel-body">
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Supplier Name</label>
                    @Html.EditorFor(model => model.Suppliername, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Suppliername, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    <label>Address</label>
                    @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    <label>Contact Person</label>
                    @Html.EditorFor(model => model.Contactperson, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Contactperson, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    <label>Phone No</label>
                    @Html.EditorFor(model => model.Phonenumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phonenumber, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    <label>Email ID</label>
                    @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    <label>GST No</label>
                    @Html.EditorFor(model => model.GSTnumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GSTnumber, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    <label>MSME No</label>
                    @Html.EditorFor(model => model.MSMEnumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MSMEnumber, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    <label>Opening Balance</label>
                    @Html.EditorFor(model => model.OpeningBalance, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OpeningBalance, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    <label>Bank Name</label>
                    @Html.EditorFor(model => model.Bankname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Bankname, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    <label>Account Number</label>
                    @Html.EditorFor(model => model.Accountnumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Accountnumber, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    <label>Branch</label>
                    @Html.EditorFor(model => model.Branch, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Branch, "", new { @class = "text-danger" })
                </div>
                
                <div class="form-group col-md-6">
                    <label>IFSC Code</label>
                    @Html.EditorFor(model => model.IFSCcode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IFSCcode, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    <label>Category</label>
                    @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="float:right">

                <input type="submit" value="Submit" class="btn btn-default" />
                @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-default" })

            </div>
        </div>
    </div>


}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


