@model issDomain.Models.SupplierMaster

@{
    ViewBag.Title = "Details";
}

<style>
    #AccountGroupMaster {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    .btn-default {
        background-color: #FF5F04;
        color: white;
    }

    #AccountGroupMaster td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #AccountGroupMaster tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #AccountGroupMaster tr:hover {
        background-color: #ddd;
    }

    #AccountGroupMaster th {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    #btn-edit a:hover {
        text-decoration: none;
        color: black;
    }

    #btn-edit a {
        text-decoration: none;
        color: black;
    }

    .header {
        margin-top: 10px;
        border-top-style: solid;
        border-top-width: 5px;
        border-top-color: #FF5F04;
        font-family: Calibri;
        font-size: 22px;
    }
</style>

<div class="panel-group">
    <div class="panel panel-heading header">
        Supplier - Details Page
    </div>
    <div class="panel panel-body">

        <table id="AccountGroupMaster">

            <tr>
                <th>Supplier Name</th>
                <td>  @Html.DisplayFor(model => model.Suppliername)</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>  @Html.DisplayFor(model => model.address)</td>
            </tr>
            <tr>
                <th>Contact Person</th>
                <td>  @Html.DisplayFor(model => model.Contactperson)</td>
            </tr>
            <tr>
                <th>Phone No</th>
                <td>  @Html.DisplayFor(model => model.Phonenumber)</td>
            </tr>
            <tr>
                <th>Email ID</th>
                <td>  @Html.DisplayFor(model => model.EmailID)</td>
            </tr>
            <tr>
                <th>GST No</th>
                <td>  @Html.DisplayFor(model => model.GSTnumber)</td>
            </tr>

            <tr>
                <th>MSME No</th>
                <td>  @Html.DisplayFor(model => model.MSMEnumber)</td>
            </tr>

            <tr>
                <th>Opening Balance</th>
                <td>   @Html.DisplayFor(model => model.OpeningBalance)</td>
            </tr>

            <tr>
                <th> Bank Name</th>
                <td>  @Html.DisplayFor(model => model.Bankname)</td>
            </tr>
            <tr>
                <th> Account Number</th>
                <td>  @Html.DisplayFor(model => model.Accountnumber)</td>
            </tr>
            <tr>
                <th> Branch</th>
                <td>  @Html.DisplayFor(model => model.Branch)</td>
            </tr>
            <tr>
                <th> IFSC Code</th>
                <td>  @Html.DisplayFor(model => model.IFSCcode)</td>
            </tr>
            <tr>
                <th> Create Date</th>
                <td>  @Html.DisplayFor(model => model.CreatedDate)</td>
            </tr>
            <tr>
                <th> Updated Date</th>
                <td>  @Html.DisplayFor(model => model.UpdatedDate)</td>
            </tr>
            <tr>
                <th> Updated By</th>
                <td>  @Html.DisplayFor(model => model.UpdateBy)</td>
            </tr>
        </table>
        <p style="float:right;">
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, htmlAttributes: new { @class = "btn btn-default" })
            @*<button type="button" class = "btn btn-default" id="btn-edit"> @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) </button>*@
            @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
        </p>
    </div>
</div>

@*<h2>Details</h2>

    <div>
        <h4>SupplierMaster</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Suppliername)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Suppliername)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.isDeleted)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.isDeleted)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contactperson)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contactperson)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phonenumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phonenumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmailID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmailID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GSTnumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GSTnumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MSMEnumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MSMEnumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OpeningBalance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OpeningBalance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Bankname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Bankname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Accountnumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Accountnumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Branch)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Branch)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IFSCcode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IFSCcode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UpdateBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdateBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdatedDate)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
