@model IEnumerable<issDomain.Models.SupplierMaster>

@{
                /**/

                ViewBag.Title = "Index";
}

<style>
    .header {
        margin-top: 10px;
        border-top-style: solid;
        border-top-width: 5px;
        border-top-color: #FF5F04;
        font-family: Calibri;
        font-size: 22px;
    }

    .addNew {
        padding: 5px;
        background-color: #FF5F04;
        color: white;
        float: right;
        margin: 10px;
        border-radius: 3px;
        text-decoration: none;
    }

        .addNew:hover {
            text-decoration: none;
        }
</style>
<div class="panel-group">
    <div class="panel panel-heading header">
        Supplier - Index Page
    </div>
    <div class="panel panel-body">
        @Html.ActionLink("Add New", "Create", null, htmlAttributes: new { @class = "addNew" })
        <table class="table" id="AGMaster">
            <thead>
                <tr>
                    <th>
                        Supplier Name
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Contact Person
                    </th>
                    <th>
                        Phone No
                    </th>


                    <th>
                        Created Date
                    </th>
                    <th>
                        Updated By
                    </th>
                    <th>
                        Updated Date
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Suppliername)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contactperson)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phonenumber)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdateBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedDate)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>

                }
            </tbody>

        </table>

    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#AGMaster').DataTable({
            dom: 'Bfrtip',

            buttons: [
                'copy',
                {
                    extend: 'excel',
                    title: function () {
                        var printTitle = 'New Title';
                        return printTitle
                    }
                    // messageTop: 'The information in this table is copyright to Sirius Cybernetics Corp.'
                },
                {
                    extend: 'pdf',
                    //  messageBottom: null
                },
                {
                    extend: 'print',
                }

            ]
        });

    });
</script>


@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Suppliername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contactperson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phonenumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GSTnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MSMEnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bankname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accountnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IFSCcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Suppliername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contactperson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phonenumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GSTnumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MSMEnumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bankname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accountnumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Branch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IFSCcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }

    </table>*@
