@model IEnumerable<issDomain.Models.paymentEntry>


<style>
    .header {
        margin-top: 10px;
        border-top-style: solid;
        border-top-width: 5px;
        border-top-color: #FF5F04;
        font-family: Calibri;
        font-size: 22px;
    }

    .addNew {
        padding: 5px;
        background-color: #FF5F04;
        color: white;
        float: right;
        margin: 10px;
        border-radius: 10px;
        text-decoration: none;
    }

        .addNew:hover {
            text-decoration: none;
        }

    table td {
        font-size: 13px;
    }

    table th {
        font-size: 13px;
    }
</style>
<
<div class="panel-group">
    <div class="panel panel-heading header">
        Payment Entry - Index Page
    </div>
    <div class="panel panel-body">
        <div class="card-header header-elements-inline">
            @Html.ActionLink("Add New", "Create", null, htmlAttributes: new { @class = "addNew" })
            <table class="table datatable-basic table-bordered table-striped table-hover" id="AGMaster">
                <thead>
                    <tr>
                        <th>
                            <label>Pay ID</label>
                        </th>
                        <th>
                            <label>Pay Date</label>
                        </th>
                        <th>
                            <label>Payment Type</label>
                        </th>
                        <th>
                            <label>Project</label>
                        </th>
                        <th>
                            <label>Site Name</label>
                        </th>
                        <th>
                            <label>Ledger Name</label>
                        </th>
                        <th>
                            <label>Given By</label>
                        </th>
                        <th>
                            <label>Collected By</label>
                        </th>
                        <th>
                            <label>Amount</label>
                        </th>
                        <th>
                            <label>Remarks</label>
                        </th>
                        <th>
                            <label>Actions</label>
                        </th>

                       
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.paymentID)
                            </td>

                            @if (@item.paymenttDate != null)
                            {
                                <td>
                                    @item.paymenttDate.Value.ToShortDateString()

                                </td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.accountLedger.AccountLedger)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.siteName.ProjectName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.siteName.SiteName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ledger.AccountLedger)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.givenBy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.collectBy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.remarks)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID }) 
                            </td>
                        </tr>

                    }
                </tbody>

            </table>

        </div>
    </div>
    </div> 

