@model issDomain.Models.PurchaseOrder

@{
    ViewBag.Title = "Create";
}


<style>
    .header {
        margin-top: 10px;
        border-top-style: solid;
        border-top-width: 5px;
        border-top-color: #FF5F04;
        font-family: Calibri;
        font-size: 22px;
    }

    .btn-default {
        background-color: #FF5F04;
        color: white;
    }

    input, select, textarea {
        max-width: 500px;
    }

    th, td {
        border: 1px solid black;
        text-align: center;
        height: 50px;
    }

    .itemtable th {
        text-align: center;
    }

    select #Product, #TaxId {
        max-width: 500px;
    }

    .example-open .modal-backdrop {
        background-color: transparent;
    }
</style>

<link rel="stylesheet" type="text/css" href=@Url.Content("https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css")>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-heading header" style="margin-top: 10px;border-top-style: solid;border-top-width: 5px;border-top-color: #FF5F04;font-family: Calibri;font-size: 22px;">
            Purchase Order - Add Page
        </div>
        <div class="panel panel-body" style="overflow:auto">
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Request ID</label>
                    @Html.DropDownList("RequestID", null, htmlAttributes: new { @class = "js-states form-control", @id = "purchaseRequestId" })
                    @Html.ValidationMessageFor(model => model.RequestID, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    <label>Order Date</label>
                    @Html.TextBoxFor(m => m.OrderDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", id = "orderDate" })
                </div>
                <div class="form-group col-md-6">
                    <label>Category</label>
                    @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control", @id = "categoryOrderId" })
                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    <label>Supplier Name</label>
                    @Html.DropDownList("SupplierId", null, htmlAttributes: new { @class = "form-control", @id = "SupplierOrderId" })
                    @Html.ValidationMessageFor(model => model.SupplierId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    <label>Supplier Address</label>
                    @Html.DropDownList("SupplierAddressId", null, htmlAttributes: new { @class = "form-control", @id = "SupplierAddressOrderId" })
                    @Html.ValidationMessageFor(model => model.SupplierAddressId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    <label>Project Name</label>
                    @Html.DropDownList("ProjectId", null, htmlAttributes: new { @class = "form-control", @id = "ProjectNameOrderId" })
                    @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    <label>Site Name</label>
                    @Html.DropDownList("SiteId", null, htmlAttributes: new { @class = "form-control", @id = "SiteNameOrderId" })
                    @Html.ValidationMessageFor(model => model.SiteId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    <label>Site Address</label>
                    @Html.DropDownList("SiteAddressId", null, htmlAttributes: new { @class = "form-control", @id = "SiteOrderAddressId" })
                    @Html.ValidationMessageFor(model => model.SiteAddressId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    <label>Mobile No</label>
                    @Html.EditorFor(model => model.mobileno, new { htmlAttributes = new { @class = "form-control", @id = "requestMobileNo" } })
                    @Html.ValidationMessageFor(model => model.mobileno, "", new { @class = "text-danger" })
                </div>
            </div>
            <button type="button" style="float:right" class="btn btn-default" data-toggle="modal" data-target="#myModal">Add Item</button>
            <br /><br />
            <div class="itemtable">
                <table class="create" style="width:100%">
                    <thead>
                        <tr>
                            <th>Sl.No</th>
                            <th>Item Name</th>
                            <th>Rate Of Tax</th>
                            <th>Description</th>
                            <th>Rate</th>
                            <th>Quantity</th>
                            <th>Amount</th>
                            <th>Tax Amount</th>
                            <th>Total Amount</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="tblpurchaserequest"></tbody>
                </table>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content" style="background-color:#ebcece">
                        <div class="modal-body">
                            <div class="panel-group">
                                <div class="panel panel-heading header" style="margin-top: 10px;border-top-style: solid;border-top-width: 5px;border-top-color: #FF5F04;font-family: Calibri;font-size: 22px;">
                                    Add Item
                                </div>
                                <div class="panel panel-body" style="font-size:15px;font-family:Calibri">
                                    <div class="row">
                                        <form action="createitem">
                                            <div class="form-group col-md-6">
                                                <label>Product Name</label><br />
                                                <select id="Product" name="" style="width:352px; height:27px">
                                                    <option value="0">Please Select</option>
                                                    @foreach (var item in @ViewBag.ProductId)
                                                    {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label style="width:352px; height:27px">Rate of Tax</label><br />
                                                <input type="text" readonly="readonly" id="TaxId" name="description" size="50" />
                                            </div>
                                            <div class="form-group col-md-6" style="min-height:58px">
                                                <label style="width:352px; height:27px">Description</label><br />
                                                <input type="text" id="Description" name="description" size="50" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label style="width:352px; height:27px">Rate</label><br />
                                                <input type="text" id="Rate" name="Rate" size="50" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label style="width:352px; height:27px">Quantity</label><br />
                                                <input type="text" id="Quantity" name="Quantity" size="50" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label style="width:352px; height:27px">Amount</label><br />
                                                <input type="text" readonly="readonly" id="Amount" name="Amount" size="50" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label style="width:352px; height:27px">Tax Amount</label><br />
                                                <input type="text" id="TaxAmt" name="TaxAmt" size="50" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label style="width:352px; height:27px">Total Amount</label><br />
                                                <input type="text" id="TotalAmt" readonly="readonly" name="TotalAmt" size="50" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-save="modal" id="btnSave" data-dismiss="modal">Add</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel()">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Net Amount    :</label>
                    <label id="netAmt"></label>
                </div>
                <div class="form-group col-md-4">
                    <label>Request By</label>

                </div>
                <div class="form-group col-md-4">
                    <label>Remarks</label>
                </div>
            </div>
            <div class="form-group" style="float:right">
                <input type="submit" value="Submit" class="btn btn-default" />
                @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src=@Url.Content("https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js")></script>

<script>
    let sNo = 1;
    var lstItems = [];
    var ntAmt;
    $(document).ready(function ()
    {
        $("#purchaseRequestId").select2();
        $("#purchaseRequestId").change(function () {
            var requestId = $(this).find('option:selected').val();
            categoryOrderId(requestId);
        })
        $("#Product").change(function () {
            var taxAmount = $(this).find('option:selected').val();
            TaxId(taxAmount);
        })
        $("#Quantity, #TaxId").blur(function () {
            var productRate = parseFloat($("#Rate").val());
            var productamt = parseFloat($(this).val() * productRate);
            //Tax Amount
            var per = $("#TaxId").val();
            var productQuantit = parseFloat((per / 100) * productamt).toFixed(2);
            //Total Amount
            var tamt = parseFloat(productamt) + parseFloat(productQuantit);
            if ($("#Quantity").val() != '') {
                $("#TotalAmt").val(tamt.toFixed(2));
                $("#Amount").val(productamt.toFixed(2));
                $("#TaxAmt").val(productQuantit);
            }
        })
    });
    $(document).keydown(function (event) {
        if (event.altKey && event.which === 65) {
            $('#myModal').modal('show');
        }
    });
    $('#myModal').on('show.bs.modal', function (e) {
        $('body').addClass("example-open");
    }).on('hide.bs.modal', function (e) {
        $('body').removeClass("example-open");
    })
    function categoryOrderId(requestId)
    {
              $.ajax({
            type: 'POST',
            url: '@Url.Content("~/PurchaseOrders/purchaseReqOrders")',
            dataType: 'json',
                  data: { purchaseRequestOrderId: requestId },
                  success: function (result) {
                      console.log(result)
                      var data = result;

                      $('#categoryOrderId').empty();
                      $('#SupplierOrderId').empty();
                      $('#SupplierAddressOrderId').empty();
                      $('#ProjectNameOrderId').empty();
                      $('#SiteNameOrderId').empty();
                      $('#SiteOrderAddressId').empty();
                      $('#requestMobileNo').empty();

                      $("#categoryOrderId").append("<option value='" + data.ID + "'>" + data.Category.CategoryName + "</option>");
                      $("#SupplierOrderId").append("<option value='" + data.ID + "'>" + data.Supplier.Suppliername + "</option>");
                      $("#SupplierAddressOrderId").append("<option value='" + data.ID + "'>" + data.Supplier.address + "</option>");
                      $("#ProjectNameOrderId").append("<option value='" + data.ID + "'>" + data.ProjectId + "</option>");
                      $("#SiteNameOrderId").append("<option value='" + data.ID + "'>" + data.SiteId + "</option>");
                      $("#SiteOrderAddressId").append("<option value='" + data.ID + "'>" + data.SiteAddressId + "</option>");
                      // $("#requestmobileno").append("<option value='" + data[i].id + "'>" + data[i].suppliername + "</option>");
                      $("#requestMobileNo").val(data.mobileno);
                  },
                  error: function (err)
                  {
                console.log(err);
                  }
              });
    };

     function TaxId(taxAmount)
    {
              $.ajax({
            type: 'POST',
            url: '@Url.Content("~/PurchaseOrders/TaxId")',
                  dataType: 'json',
                  data: { tax_Amount: taxAmount },
                  success: function (result) {
                     var data = result;
                      $("#TaxId").empty();
                      for (var i = 0; i < data.length; i++)
                      {
                    $("#TaxId").val(data[i].Tax)
                      }
                  },
                  error: function (err)
                  {
                console.log(err);
                  }
              });
    };
 $('#btnSave').click(function ()
    {
        debugger
        let list = {};
         list.productId = $('#Product').val();
         list.productText = $('#ProductId option:selected').text();
         list.Description = $('#Description').val();
         list.Tax = $('#TaxId').text();
         list.Rate = $('#Rate').val();
         list.Quantity = $('#Quantity').val();
         list.Amount = $('#Amount').val();
         list.TaxAmount = $('#TaxAmt').val();;
         list.TotalAmount = $('#TotalAmt').val();;


        list.sNo = sNo;

        $.ajax({
                url: '@Url.Content("~/PurchaseOrders/savePurchages")',
                type: 'POST',
                  dataType: 'json',
            data: { PurchaseRequestTable: list },
                success: function (result)
                {
                    debugger
                    console.log(result);
                    list.Id = result;
        lstItems.push(list);
        console.log(lstItems);
        bindItems();
                    $('#Product').val(0);
                    $('#Description').val('');
                    $('#Rate').val('');
                    $('#Quantity').val('');
                    $('#Amount').val('');
                    $('#TaxAmt').val('');
                    $('#TotalAmt').val('');
                    $('#gstAmount').val('');
            },

            error: function (err) {
                console.log(err);
            }
        });
    });
    function bindItems() {
        $('#tblpurchaserequest').empty();
        if (lstItems.length > 0) {
            debugger
            let sNo = 1;
            let ntTotal = 0;
            for (var i = 0; i < lstItems.length; i++) {
                var row = `<tr id=rm${sNo}>`
                    + `<td>${sNo}</td>`
                    + `<td>${lstItems[i].ProductText}</td>`
                    + `<td>${lstItems[i].Tax}</td>`
                    + `<td>${lstItems[i].Description}</td>`
                    + `<td>${lstItems[i].Rate}</td>`
                    + `<td>${lstItems[i].Quantity}</td>`
                    + `<td>${lstItems[i].Amount}</td>`
                    + `<td>${lstItems[i].TaxAmount}</td>`
                    + `<td>${lstItems[i].TotalAmount}</td>`
                    + `<td>

                        <button type="button" class="btn btn-default" onclick="removeTR('${lstItems[i].ID}')">Remove</button>
                        </td>`
                    + "</tr>";

                let amount = 0;
                lstItems[i].prograndTotal != null ? amount = parseFloat(lstItems[i].prograndTotal) : amount = 0;
                ntTotal += amount;

                $('#tblpurchaserequest').append(row);
                sNo++;
            }

            $('#totalAmount').val(ntTotal.toFixed());
        }
    }

      function removeTR(item)
    {
        $.ajax({
            url: '@Url.Content("~/PurchaseOrders/removePurchages")',
            type: 'POST',
            dataType: 'json',
            data: { Id: item },
            success: function (result) {
                console.log(result);
                if (result != null) {
                    lstItems = result;

                    $('#tblpurchaserequest').empty();
                    if (lstItems.length > 0) {
                        debugger
                        let sNo = 1;
                        let ntTotal = 0;
                        for (var i = 0; i < lstItems.length; i++) {
                            var row = `<tr id=rm${sNo}>`
                                + `<td>${sNo}</td>`
                                + `<td>${lstItems[i].ProductText}</td>`
                                + `<td>${lstItems[i].Tax}</td>`
                                + `<td>${lstItems[i].Description}</td>`
                                + `<td>${lstItems[i].Rate}</td>`
                                + `<td>${lstItems[i].Quantity}</td>`
                                + `<td>${lstItems[i].Amount}</td>`
                                + `<td>${lstItems[i].TaxAmount}</td>`
                                + `<td>${lstItems[i].TotalAmount}</td>`
                                + `<td>

                        <button type="button" class="btn btn-default" onclick="removeTR('${lstItems[i].ID}')">Remove</button>
                        </td>`
                                + "</tr>";

                            let amount = 0;
                            lstItems[i].prograndTotal != null ? amount = parseFloat(lstItems[i].prograndTotal) : amount = 0;
                            ntTotal += amount;

                            $('#tblpurchaserequest').append(row);
                            sNo++;
                        }

                        $('#totalAmount').val(ntTotal.toFixed());
                    }
                }
            }
        });
    }
</script>