@model issDomain.Models.IssueTable

@{
    ViewBag.Title = "Details";
}
<style>
    #AccountGroupMaster {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    .btn-default {
        background-color: #FF5F04;
        color: white;
    }

    #AccountGroupMaster td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #AccountGroupMaster tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #AccountGroupMaster tr:hover {
        background-color: #ddd;
    }

    #AccountGroupMaster th {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    #btn-edit a:hover {
        text-decoration: none;
        color: black;
    }

    #btn-edit a {
        text-decoration: none;
        color: black;
    }

    .header {
        margin-top: 10px;
        border-top-style: solid;
        border-top-width: 5px;
        border-top-color: #FF5F04;
        font-family: Calibri;
        font-size: 22px;
    }

    th {
        width: 40% !important;
    }
</style>

<div class="panel-group">
    <div class="panel panel-heading header">
        Purchase Order -  Item Details
    </div>
    <div class="panel panel-body">

        <table id="AccountGroupMaster">
            <tr>
                <th>Issue ID</th>
                <td>  @Html.DisplayFor(model => model.issueId)</td>
            </tr>
            <tr>
                <th>Category Name</th>
                <td>  @Html.DisplayFor(model => model.Category.CategoryName)</td>
            </tr>
            <tr>
                <th>Prioduct  Name</th>
                <td> @Html.DisplayFor(model => model.Product.ProductName)</td>
            </tr>

            <tr>
                <th>Description</th>
                <td>  @Html.DisplayFor(model => model.Description)</td>
            </tr>
            <tr>
                <th> Quantity</th>
                <td>  @Html.DisplayFor(model => model.Quantity)</td>
            </tr>

            <tr>
                <th> Rate</th>
                <td>   @Html.DisplayFor(model => model.Rate)</td>
            </tr>

            <tr>
                <th> Amount</th>
                <td>  @Html.DisplayFor(model => model.Amount)</td>
            </tr>
            <tr>
                <th> Tax</th>
                <td>  @Html.DisplayFor(model => model.Tax)</td>
            </tr>

            <tr>
                <th> Tax Amount</th>
                <td>  @Html.DisplayFor(model => model.TaxAmount)</td>
            </tr>

            <tr>
                <th> Total Amount</th>
                <td>  @Html.DisplayFor(model => model.TotalAmount)</td>
            </tr>


        </table>


        <p style="float:right;">
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, htmlAttributes: new { @class = "btn btn-default" })
            @Html.ActionLink("Back", "Index", "IssueTables", new { id = Model.issueId}, htmlAttributes: new { @class = "btn btn-default" })

        </p>
    </div>
</div>
